In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings

# warnings.filterwarnings('ignore')
plt.rcParams['figure.dpi'] = 80

import sys
sys.path.insert(0, '..')

import os
from pathlib import Path

from hypers import weight_hypers
from hypers import alpha_hypers 

from experiment import Params
from experiment import run_experiments
from experiment import load_experiments
from experiment import draw_logs
from experiment import experiments_to_df

from analysis import draw_several
from analysis import extract_needed

In [35]:
experiments_10, df_10 = load_experiments('../results/experim_10.json')
experiments_11, df_11 = load_experiments('../results/experim_11.json')
experiments_12, df_12 = load_experiments('../results/experim_12.json')
experiments_13, df_13 = load_experiments('../results/experim_13.json')
experiments_14, df_14 = load_experiments('../results/experim_14.json')
experiments_15, df_15 = load_experiments('../results/experim_15.json')
experiments_16, df_16 = load_experiments('../results/experim_16.json')
experiments_17, df_17 = load_experiments('../results/experim_17.json')
experiments_18, df_18 = load_experiments('../results/experim_18.json')
experiments_19, df_19 = load_experiments('../results/experim_19.json')
experiments_20, df_20 = load_experiments('../results/experim_20.json')
experiments_21, df_21 = load_experiments('../results/experim_21.json')
experiments_22, df_22 = load_experiments('../results/experim_22.json')
experiments_23, df_23 = load_experiments('../results/experim_23.json')
experiments_24, df_24 = load_experiments('../results/experim_24.json')
experiments_25, df_25 = load_experiments('../results/experim_25.json')
experiments_26, df_26 = load_experiments('../results/experim_26.json')
experiments_27, df_27 = load_experiments('../results/experim_27.json')
experiments_28, df_28 = load_experiments('../results/experim_28.json')
experiments_29, df_29 = load_experiments('../results/experim_29.json')
experiments_30, df_30 = load_experiments('../results/experim_30.json')
experiments_31, df_31 = load_experiments('../results/experim_31.json')
experiments_32, df_32 = load_experiments('../results/experim_32.json')
experiments_33, df_33 = load_experiments('../results/experim_33.json')
experiments_34, df_34 = load_experiments('../results/experim_34.json')
experiments_35, df_35 = load_experiments('../results/experim_35.json')
experiments_36, df_36 = load_experiments('../results/experim_36.json')
experiments_37, df_37 = load_experiments('../results/experim_37.json')
experiments_38, df_38 = load_experiments('../results/experim_38.json')
experiments_39, df_39 = load_experiments('../results/experim_39.json')
experiments_40, df_40 = load_experiments('../results/experim_40.json')
experiments_41, df_41 = load_experiments('../results/experim_41.json')
experiments_42, df_42 = load_experiments('../results/experim_42.json')
experiments_43, df_43 = load_experiments('../results/experim_43.json')
experiments_44, df_44 = load_experiments('../results/experim_44.json')
experiments_45, df_45 = load_experiments('../results/experim_45.json')
experiments_46, df_46 = load_experiments('../results/experim_46.json')
experiments_47, df_47 = load_experiments('../results/experim_47.json')
experiments_48, df_48 = load_experiments('../results/experim_48.json')
# experiments_49, df_49 = load_experiments('../results/experim_49.json')
# experiments_50, df_50 = load_experiments('../results/experim_50.json')
# experiments_51, df_51 = load_experiments('../results/experim_51.json')
# experiments_52, df_52 = load_experiments('../results/experim_52.json')

In [40]:
df_32

,noise_var,train_window,weight_function,mixing_type,alpha_function,mean,random_0,random_1,random_2,random_3
7,1,10,1 / (x^1.01),decaying past,1 / (x + 1)^0.5,136054.92,124805.24,118710.82,165162.88,135540.76
0,1,10,1 / (x^1.01),decaying past,1 / (x + 1)^1.5,134772.88,119214.73,104953.32,164452.98,150470.49
9,1,10,1 / (x^1.01),decaying past,1 / (x + 1)^2,135387.37,120025.5,105132.73,165379.26,151012.0
10,1,10,1 / (x^1.01),decaying past,1 / ln(x + 1),283210.46,275731.07,251168.05,332677.93,273264.78
11,1,10,1 / (x^1.01),decaying past,1 / e^(x/3),135409.03,120058.17,105137.9,165413.4,151026.65
1,1,10,1 / c,decaying past,1 / (x + 1)^0.5,131508.93,114321.47,119674.54,152053.59,139986.13
6,1,10,1 / c,decaying past,1 / (x + 1)^1.5,132550.84,116813.58,102983.26,161872.6,148533.93
12,1,10,1 / c,decaying past,1 / (x + 1)^2,132753.35,117124.53,103008.8,162218.95,148661.13
13,1,10,1 / c,decaying past,1 / ln(x + 1),236401.91,215902.54,229742.28,259498.18,240464.64
14,1,10,1 / c,decaying past,1 / e^(x/3),132760.88,117137.51,103009.56,162231.99,148664.48
5,1,10,1 / (x^0.5),decaying past,1 / (x + 1)^0.5,132880.13,117468.14,121255.52,154927.84,137869.03
8,1,10,1 / (x^0.5),decaying past,1 / (x + 1)^1.5,133653.10,118016.12,103939.33,163153.12,149503.82
2,1,10,1 / (x^0.5),decaying past,1 / (x + 1)^2,133999.80,118501.96,104012.15,163712.78,149772.29
3,1,10,1 / (x^0.5),decaying past,1 / ln(x + 1),252792.84,234849.81,244764.04,280186.04,251371.47
4,1,10,1 / (x^0.5),decaying past,1 / e^(x/3),134012.15,118521.75,104014.23,163733.48,149779.13

In [37]:
df_37

,noise_var,train_window,weight_function,mixing_type,alpha_function,mean,random_0,random_1,random_2,random_3
0,1,10,1 / (x^1.01),uniform past,1 / 1000,109804.61,94990.81,92405.79,133856.48,117965.35
1,1,10,1 / (x^1.01),uniform past,1 / 5000,119177.49,104810.52,96566.27,146300.81,129032.35
4,1,10,1 / (x^1.01),uniform past,1 / 10000,124693.53,110252.27,99633.97,152987.72,135900.16
9,1,10,1 / (x^1.01),uniform past,1 / 50000,132477.77,117500.81,103736.47,162088.23,146585.56
6,1,10,1 / c,uniform past,1 / 1000,117809.05,102273.25,97933.68,141206.77,129822.5
7,1,10,1 / c,uniform past,1 / 5000,127377.46,111879.64,101189.26,154720.94,141720.01
8,1,10,1 / c,uniform past,1 / 10000,129766.19,114218.61,102019.66,158063.77,144762.73
11,1,10,1 / c,uniform past,1 / 50000,132100.09,116494.07,102797.22,161315.9,147793.16
3,1,10,1 / (x^0.5),uniform past,1 / 1000,113087.31,97779.74,95477.24,136572.36,122519.9
2,1,10,1 / (x^0.5),uniform past,1 / 5000,123913.36,109034.82,99688.43,151213.49,135716.68
5,1,10,1 / (x^0.5),uniform past,1 / 10000,127919.40,112920.16,101484.51,156302.97,140969.98
10,1,10,1 / (x^0.5),uniform past,1 / 50000,132530.84,117204.43,103433.35,161975.69,147509.89

In [38]:
df_33

,noise_var,train_window,weight_function,mixing_type,alpha_function,mean,random_0,random_1,random_2,random_3
5,1,10,1 / (x^1.01),uniform past,1 / 100,126579.65,115893.88,111373.16,151398.5,127653.07
4,1,10,1 / (x^1.01),uniform past,1 / 500,110553.23,96084.12,94298.35,134227.84,117602.61
11,1,10,1 / (x^1.01),uniform past,1 / ln(x + 1),390906.14,378094.8,356323.2,440679.49,388527.05
9,1,10,1 / (x^1.01),uniform past,1 / e^(x/3),135409.04,120058.18,105137.91,165413.42,151026.66
0,1,10,1 / c,uniform past,1 / 100,122193.55,107002.62,110783.52,141824.49,129163.58
8,1,10,1 / c,uniform past,1 / 500,114376.80,98640.24,97590.99,135964.31,125311.64
6,1,10,1 / c,uniform past,1 / ln(x + 1),309569.53,294719.61,304177.95,338090.24,301290.32
2,1,10,1 / c,uniform past,1 / e^(x/3),132760.88,117137.51,103009.56,162231.99,148664.48
1,1,10,1 / (x^0.5),uniform past,1 / 100,125443.80,111065.94,114801.7,146437.23,129470.32
10,1,10,1 / (x^0.5),uniform past,1 / 500,111701.01,96120.69,96581.17,133855.25,120246.93
7,1,10,1 / (x^0.5),uniform past,1 / ln(x + 1),333528.48,322241.12,323172.55,368229.04,320471.21
3,1,10,1 / (x^0.5),uniform past,1 / e^(x/3),134012.15,118521.75,104014.23,163733.48,149779.13

In [39]:
df_31

,noise_var,train_window,weight_function,mixing_type,alpha_function,mean,random_0,random_1,random_2,random_3
5,1,10,1 / (x^1.01),uniform past,1 / (x + 10),110521.38,95868.44,92360.21,134051.61,119805.25
8,1,10,1 / (x^1.01),uniform past,1 / (x + 100),110604.17,95842.37,92452.75,134033.2,120088.36
14,1,10,1 / (x^1.01),uniform past,1 / (x + 1000),113447.62,98557.53,93793.81,138052.36,123386.77
1,1,10,1 / (x^1.01),uniform past,1 / (x + 1)^0.5,175610.93,177149.98,145748.46,215274.87,164270.41
12,1,10,1 / (x^1.01),uniform past,1 / (x + 1)^1.5,132418.35,116499.75,104009.13,161133.38,148031.13
3,1,10,1 / (x^1.01),uniform past,1 / (x + 1)^2,135301.37,119907.05,105105.44,165251.08,150941.9
6,1,10,1 / c,uniform past,1 / (x + 10),119758.30,103376.28,98813.92,141996.44,134846.55
9,1,10,1 / c,uniform past,1 / (x + 100),120269.13,103936.93,98967.53,142878.64,135293.41
15,1,10,1 / c,uniform past,1 / (x + 1000),123629.94,107641.72,100013.92,148468.92,138395.2
0,1,10,1 / c,uniform past,1 / (x + 1)^0.5,146286.04,135578.3,135803.26,168604.8,145157.81
11,1,10,1 / c,uniform past,1 / (x + 1)^1.5,131940.35,115980.8,102824.74,160826.81,148129.04
17,1,10,1 / c,uniform past,1 / (x + 1)^2,132731.09,117088.97,103004.28,162180.13,148650.99
7,1,10,1 / (x^0.5),uniform past,1 / (x + 10),114212.49,98549.24,95895.43,136362.94,126042.34
10,1,10,1 / (x^0.5),uniform past,1 / (x + 100),114760.01,99103.81,96106.16,137223.8,126606.26
16,1,10,1 / (x^0.5),uniform past,1 / (x + 1000),118679.47,103254.39,97613.98,143219.02,130630.5
2,1,10,1 / (x^0.5),uniform past,1 / (x + 1)^0.5,157817.94,150298.94,145869.26,182732.48,152371.08
13,1,10,1 / (x^0.5),uniform past,1 / (x + 1)^1.5,132462.74,116556.57,103549.43,161305.46,148439.51
4,1,10,1 / (x^0.5),uniform past,1 / (x + 1)^2,133958.00,118440.83,104001.17,163644.45,149745.55

In [36]:
df_48

,noise_var,train_window,weight_function,mixing_type,alpha_function,mean,random_0,random_1,random_2,random_3
8,1,10,1 / (x^1.1),increasing past,1 / (x + 1),111050.44,96754.44,91650.36,136395.72,119401.25
3,1,10,1 / (x^1.2),increasing past,1 / (x + 1),111873.03,97565.26,91978.56,137682.94,120265.36
4,1,10,1 / (x^2),increasing past,1 / (x + 1),124473.63,112359.49,95941.13,161593.79,128000.12
0,1,10,1 / ((x + 4) * ln(x + 4) * (ln(ln(x + 4)))^2,increasing past,1 / (x + 1),119413.95,105691.95,95096.42,151100.31,125767.11
6,1,10,1 / x,increasing past,1 / (x + 1),110376.37,96144.89,91468.18,135309.39,118583.03
5,1,10,1 / (x^0.1),increasing past,1 / (x + 1),115101.52,99272.24,96206.59,136710.62,128216.65
2,1,10,1 / (x^0.3),increasing past,1 / (x + 1),112900.36,97278.52,94999.74,134610.02,124713.18
7,1,10,1 / (x^0.7),increasing past,1 / (x + 1),109775.49,94695.06,92665.44,132240.59,119500.88
1,1,10,1 / (x^0.9),increasing past,1 / (x + 1),109408.73,94884.09,91585.73,133106.3,118058.81

In [21]:
experiments = experiments_10 + experiments_11 + experiments_12 + experiments_13 + \
experiments_21 + experiments_22 + experiments_23 + experiments_24 + experiments_34 + experiments_40

In [22]:
df = experiments_to_df(experiments)

In [31]:
table = df[(df["alpha_function"] == alpha_hypers["default"].repr) & (df["train_window"] == 10)]
# print(table[["weight_function", "mixing_type", "mean"]].to_latex(float_format="%.2f", index=False))
table[table["mixing_type"] == "uniform past"][["weight_function", "mixing_type", "mean"]]

                                 weight_function   mixing_type       mean
71                 1 / ((x + 1) * (ln(x + 1))^2)  uniform past  117175.93
69                                  1 / (x^1.01)  uniform past  110569.83
94                                   1 / (x^1.1)  uniform past  111366.88
95                                   1 / (x^1.2)  uniform past  112298.14
92                                     1 / (x^2)  uniform past  123449.14
90  1 / ((x + 4) * ln(x + 4) * (ln(ln(x + 4)))^2  uniform past  114823.76
70                                         1 / c  uniform past  119703.68
91                                         1 / x  uniform past  110486.71
89                                   1 / (x^0.1)  uniform past  117830.57
97                                   1 / (x^0.3)  uniform past  115819.07
72                                   1 / (x^0.5)  uniform past  114153.63
93                                   1 / (x^0.7)  uniform past  112378.87
96                                   1 / (x^0.9)  uniform past  110783.66

In [23]:
df_13

,noise_var,train_window,weight_function,mixing_type,alpha_function,mean,random_0,random_1,random_2,random_3
0,1,5,1 / (x^0.3),start,1 / (x + 1),155325.26,115303.88,137242.29,185123.3,183631.58
1,1,5,1 / (x^0.7),start,1 / (x + 1),166111.97,128900.21,140379.44,202686.44,192481.79
2,1,10,1 / (x^0.3),start,1 / (x + 1),108946.40,93662.02,91637.53,131336.68,119149.36
3,1,10,1 / (x^0.7),start,1 / (x + 1),112027.20,97865.11,91311.61,137143.59,121788.48
4,1,20,1 / (x^0.3),start,1 / (x + 1),128026.51,110148.85,110469.95,150582.43,140904.8
5,1,20,1 / (x^0.7),start,1 / (x + 1),118309.83,103428.2,99055.18,140842.24,129913.69
6,1,50,1 / (x^0.3),start,1 / (x + 1),139533.75,123281.48,118788.24,165456.74,150608.53
7,1,50,1 / (x^0.7),start,1 / (x + 1),128649.42,114804.48,104977.47,156153.65,138662.1
8,1,100,1 / (x^0.3),start,1 / (x + 1),148731.00,125033.46,124219.57,188088.9,157582.07
9,1,100,1 / (x^0.7),start,1 / (x + 1),139702.22,118783.87,111027.43,181459.51,147538.09